body {
  background: image-url("/pattern-desafio.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  margin-top: 5%;
}

.comparer {
  margin-right: 5%;
}

.title {
  color: #555;
  font-weight: bold;
  font-size: 20px;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
}

.ethanol {
  font-size: 20px;
  color: lime;
}

.gasoline {
  font-size: 20px;
  color: crimson;
}

.btn {
  background-color: #448aff;
  height: 45px;
}

.result {
  font-size: 16px;
  padding-left: 8%;
}